
{{#each quotes as |quote|}}
<div class="quote-block" data-id={{quote.id}}>
  <div class="updatedelete">
    <button class="btn btn-danger delete-quote" data-id={{quote.id}}>Delete</button>
    <!-- <p class="quoteid">ID: {{quote.id}}</p> -->
    <button type="button" class="update-quote btn btn-info update-quote-button" data-id={{quote.id}} data-target="#update-quote-modal" data-toggle="modal">Update</button>
  </div>
  <p class="quote">{{quote.quote}}</p>
  <p class="author">{{quote.author}}</p>
</div>
{{/each}}
